.number{
    color:#f4e3b2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 900;
    position:absolute;
    left:50%;
    transform: translate(-50%);
    top:40%;
}
.text{
    color:#f4e3b2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 400;
    position:absolute;
    left:50%;
    transform: translate(-50%);
    top:70%;
}
.back{
    height:100vh;
    width:100vh;
    background-color: #74070e;
}