.passwordform{
    flex-grow:.25;
    background:#f4e3b2;
    display:flex;
    flex-direction:column;
    width:53%;
    height:70%;
    justify-content:space-around;
    position:relative;
    margin-left:10%
    
}
.text{
    display: flex;
    justify-content: space-between;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color:#74070e;
}
.newpass{
    outline:none;
    border: 3px dashed #f4e3b2;
    color:#f4e3b2;
    background-color:#74070e;
    width:25vw;
}
.newpass::placeholder{
    color:#c9bd97;
}
.confpass::placeholder{
    color: #c9bd97;
}
.newpass:autofill,.newpass:-webkit-autofill{
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-box-shadow: 0 0 0px 60000px #74070e inset ;
    -webkit-text-fill-color:#f4e3b2;
    outline:3px dashed #f4e3b2;
    outline-offset: -3px;
    border:3px solid #74070e
}
.confpass:autofill,.confpass:-webkit-autofill{
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-box-shadow: 0 0 0px 60000px #74070e inset ;
    -webkit-text-fill-color:#f4e3b2;
    outline:3px dashed #f4e3b2;
    outline-offset: -3px;
    border:3px solid #74070e
}
.confpass{
    outline:none;
    border: 3px dashed #f4e3b2;
    color:#f4e3b2;
    background-color:#74070e;
    width:25vw;
}
.button{
    outline:none;
    border: 7px dotted #f4e3b2;
    color:#f4e3b2;
    background-color:#45462a; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    height:5vh;
}
.button:hover{
    background-color:#323320; 
    border: 8px dotted #f4e3b2;
}
.button:active{
    background-color:#45462a; 
    border: 7px dotted #f4e3b2;
}