.passwordform{
    flex-grow:.25;
    background:blue;
    display:flex;
    flex-direction:column;
    width:50%;
    height:70%;
    justify-content:space-around;
    position:relative;
    margin-left:10%
    
}
.text{
    display: flex;
    justify-content: space-between;
}