.userinfo{
    flex-grow: 9;
    background-color: #f4e3b2;
    height: 5.7%;
}
.flexiblebox{
    position: absolute;
    display:flex;
    flex-direction: column;
    width:20%;
    height:40%;
    align-items: flex-start;
    justify-content: space-around;
    
}


.name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#74070e;
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;
}
.changepass{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #45462a;
    color:#f4e3b2;
    outline: none;
    border: 3px dotted #f4e3b2;
    font-size: medium;
    height:9%;
}
.changepass:hover{
    background-color: #272819;
    border: 5px dotted #f4e3b2;
}
.changepass:active{
    background-color: #45462a;
    border: 3px dotted #f4e3b2;
}
.profilepicbutton{
    display: none;
}
.profilepiclab{
    border: 3px dotted #f4e3b2;
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #45462a;
    color:#f4e3b2;
}
.profilepiclab:hover{
    background-color: #272819;
    border: 5px dotted #f4e3b2;
    margin: -5px;
}
.profilepiclab:active{
    background-color: #45462a;
    border: 3px dotted #f4e3b2;
}