.textarea{
    grid-area: textarea;
    grid-row: 1/span 3;
    grid-column: 1/2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #f4e3b2;
    outline:7px dashed #74070e;
    color:#74070e;
    box-sizing: border-box;
}
.textarea::placeholder{
   color:#421d1f;
}
.attachmedia{
    grid-area: mediabutton;
    grid-row: 3/4;
    grid-column: 2/3;
}
.upload{
    grid-area: upload;
    grid-row: 4/5;
    grid-column: 2/3;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-color:#74070e;
    color: #f4e3b2;
    outline:13px dotted #f4e3b2;
    align-self: center;
    justify-self: center;
    height: 70%;
    width:70%;
    box-sizing: border-box;
}
.upload:hover{
    background-color:#510409;
    outline:17px dotted #f4e3b2;
}.upload:active{
    background-color:#74070e;
    outline:13px dotted #f4e3b2;
}
.form{
    display: grid;
    height:100%;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.div{
    height:71.65%; 
    background-color: #f4e3b2;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
.dropdowndiv{
    grid-area: filterdropdownparent;
    grid-row: 1/2;
    grid-column:2/3;
    text-align: center;
    align-self: end;
    position:relative;
    outline:7px dotted #f4e3b2;
    background-color:#74070e;
    color: #f4e3b2;
    width:15vw;
    justify-self: center;
    box-sizing: border-box;
}
.dropdowndiv:hover{
    background-color:#510409;
    outline:12px dotted #f4e3b2;
}
.dropdowndiv:active{
    background-color:#74070e;
    outline:7px dotted #f4e3b2;
}
.dropdownlist{
    position: absolute;
    display:none;
    flex-direction: column;
    width:15vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    left:2.5vw;
    
}
.dropdowndiv:hover > .dropdownlist{
    display:flex;
    height: auto;
}
.dropdownlist:hover{
    display: flex;
    width:25vw;
    height: auto;
}
.medialabel{
    position:relative;
    top:0%;
    width:15vw;
    outline:7px dotted #f4e3b2;
    background-color:#74070e;
    color: #f4e3b2;
    display:block;
    text-align: center;
    justify-self: center;
    box-sizing: border-box;
    
}
.medialabel:hover{
    background-color:#510409;
    outline:12px dotted #f4e3b2;
}
.medialabel:active{
    background-color:#74070e;
    outline:7px dotted #f4e3b2;
}
.dropdownbutton{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border:1px dashed #74070e;
    background-color: #f4e3b2;
}
.dropdownbutton:hover{
    background-color: #ccbe95;
}
.dropdownbutton:active{
    background-color: #f4e3b2;
}


   