.textarea{
    grid-area: textarea;
    grid-row: 1/span 3;
    grid-column: 1/2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #f4e3b2;
    border:3px dashed #74070e;
    color:#74070e;
    box-sizing: border-box;
}
.textarea::placeholder{
   color:#421d1f;
}
.textarea:autofill,.textarea:-webkit-autofill{
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-box-shadow: 0 0 0px 600000px #74070e inset ;
    -webkit-text-fill-color:#f4e3b2;
    outline:3px dashed #f4e3b2;
    outline-offset: -3px;
    border:3px solid #74070e
}
.attachmedia{
    grid-area: mediabutton;
    grid-row: 3/4;
    grid-column: 2/3;
}
.upload{
    grid-area: upload;
    grid-row: 4/5;
    grid-column: 2/3;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-color:#74070e;
    color: #f4e3b2;
    border:6px dotted #f4e3b2;
    align-self: center;
    justify-self: center;
    height: 12vh;
    width:70%;
    box-sizing: border-box;
}
.upload:hover{
    background-color:#510409;
    border:7px dotted #f4e3b2;
}.upload:active{
    background-color:#74070e;
    border:6px dotted #f4e3b2;
}
.form{
    display: grid;
    height:100%;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.div{
    height:71.65%; 
    background-color: #f4e3b2;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
.dropdowndiv{
    grid-area: filterdropdownparent;
    grid-row: 1/2;
    grid-column:2/3;
    text-align: center;
    align-self: center;
    position:relative;
    border:6px dotted #f4e3b2;
    background-color:#74070e;
    color: #f4e3b2;
    width:15vw;
    height:5vh;
    line-height: 24px;
    justify-self: center;
    box-sizing: border-box;
}
.dropdowndiv:hover{
    background-color:#510409;
    border:7px dotted #f4e3b2;
}
.dropdownlist{
    position: absolute;
    display:none;
    flex-direction: column;
    width:13vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    right:4.5%;
    
}
.dropdownlist:hover{
    display: flex;
}
.medialabel{
    position:relative;
    width:15vw;
    border:6px dotted #f4e3b2;
    background-color:#74070e;
    color: #f4e3b2;
    display:block;
    text-align: center;
    justify-self: center;
    box-sizing: border-box;
    line-height: 24px;
    height:5vh;
    
}
.medialabel:hover{
    background-color:#510409;
    border:7px dotted #f4e3b2;
}
.medialabel:active{
    background-color:#74070e;
    border:6px dotted #f4e3b2;
}
.dropdownbutton{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border:1px dashed #74070e;
    background-color: #f4e3b2;
}
.dropdownbutton:hover{
    background-color: #ccbe95;
}
.dropdownbutton:active{
    background-color: #f4e3b2;
}


   