.post{
    position: relative;
    left:32%;
    bottom:94%;
    height:96%;
    width:67%;
    background-color:#f4e3b2;
    overflow:scroll;

}
.userpostnomedia{
    border: 6px dashed #74070e;
    display:flex;
    flex-direction: column;
}
.userpostimage{
    border: 6px dashed #74070e;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.userpostaudio{
    border: 6px dashed #74070e;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.userpostvideo{
    border: 6px dashed #74070e;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.user{
    color: #74070e;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    align-self: baseline;  
}
.title{
    color: #74070e;
    font-size: x-large;
    align-self: baseline;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img{
    height: 25vh;
    width: fit-content;
}

.video{
    height: 25vh;
    width: fit-content;
}
.likedislike{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    color:#74070e;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;

}
.likebutton{
    background-image: url("https://musicalworld.onrender.com/assets/like.png");
    background-size: contain;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: #74070e;
    height:5vh;
    width:3vw;
    border: 0px;
}
.dislikebutton{
    background-image: url("https://musicalworld.onrender.com/assets/dislike.png");
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #74070e;
    height:5vh;
    width:3vw;
    border: 0px;
}
.count{
    color:#74070e;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.dislikebutton:hover{
    background-image: url("https://musicalworld.onrender.com/assets/dislike.png");
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #74070e;
    height:5vh;
    width:3vw;
    border: 5px dashed #45462a;
}
.dislikebutton:active{
    background-image: url("https://musicalworld.onrender.com/assets/dislike.png");
    filter:saturate(150%);
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #74070e;
    height:5vh;
    width:3vw; 
    border: 0px;
}
.likebutton:hover{
    background-image: url("https://musicalworld.onrender.com/assets/like.png");
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #74070e;
    height:5vh;
    width:3vw;
    border: 5px dashed #45462a;
}
.likebutton:active{
    background-image: url("https://musicalworld.onrender.com/assets/like.png");
    filter:saturate(150%);
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #74070e;
    height:5vh;
    width:3vw; 
    border: 0px;
}.likebuttongrey{
    background-image: url("https://musicalworld.onrender.com/assets/like.png");
    background-size: contain;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: #74070e;
    height:5vh;
    width:3vw;
    border: 0px;
    filter:grayscale(10%);
}
.dislikebuttongrey{
    background-image: url("https://musicalworld.onrender.com/assets/dislike.png");
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #74070e;
    height:5vh;
    width:3vw;
    border: 0px;
    filter:grayscale(10%);
}